{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="span11 offset1">
    <form action="" method="POST">{% csrf_token %}
      <div class="input">
          <label for="input">input hash</label><input type="text" name="input_hash" value="" id="input_hash">
          <label for="input">input perkiraan panjang karakter</label><input type="text" name="input_length" value="" id="input_length">
      </div>
    <p><input type="submit" value="Crack" class="btn"></p>
    </form>    
  </div>
</div>
<div class="row">
  <div class="span11 offset1">
    {% if hashall %}
    <div>
      <h4>Output</h4>
      <table class="table table-striped table-hover">
          <tr><th>Hasil Crack</th><th>Waktu Cracking</th></tr>
       
          <tr>
            <!--  <td>{{ result.input_hash }}</td>
            <td>{{ result.status }}</td>-->
            <td>{{ hashall }}</td>
            <td>{{ waktu }} detik</td>
          </tr>

      </table>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
